.aboutBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100vw;
}

.mikey {
    background: url('../pics/MichaelMarinos.jpg') no-repeat;
    background-size: 100%; /** moved this property down */
    height: 50vh;
    width: 40vw;}
    
.lucas {
    background: url('../pics/LucasOrton.jpg') no-repeat;
    background-size: 100%; /** moved this property down */
    height: 50vh;
    width: 40vw;}

.marcus {
    background: url('../pics/MarcusMarinos.jpg') no-repeat;
    background-size: 100%; /** moved this property down */
    height: 50vh;
    width: 40vw;}

.matt {
    background: url('../pics/MatthewMarinos.jpg') no-repeat;
    background-size: 100%; /** moved this property down */
    height: 50vh;
    width: 40vw;}