.container {
    border: 1px solid red;
    max-width: 1000px;
    margin: 0 auto;
}

/* flex container */
.homeBody {
    margin: 0;
    padding:0;
    display: flex;
}

/* flex items */
.homeBody span {
    flex: 1;
    text-align: center;
    display: flex;
    flex-basis: 100%
}

.aboutImage {
    background: url('../pics/Dad-bod-boys.jpg') no-repeat;
    background-size: 100%; /** moved this property down */
    height: 500px;
    width: 500px;
}