.container {
    border: 1px solid red;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* flex container */
.homeBody {
    display: flex;
}

/* flex items */
.homeBody {
    flex: 1;
    text-align: center;
    flex-direction: column;
}

img {
    padding:0 50px;
}


