.musicContainer {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
}

/* flex container */

.musicBody {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}