.container {
  max-width: 1000px;
  margin: 0 auto;
}

.homeBody {
  display: flex;
}

.homeText {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 450px;
    margin: 0 auto;
  }

  .homeBody {
  }

  .playerWrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }

  .videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
  }
}
