/* referencing navbar-css */

.logoContainer {
    max-width: 1000px;
    margin: 2vh auto;
    /* padding:2vh 0 -2vh 0; */
}

/* img prop goes here */
.logo {
    background: url('../pics/Dad-Bod_Red.png') no-repeat;
    background-size: contain; /* moved this property down */
    background-position: center;
    height: 65px;
}

.logoLink {
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    padding:5px;
    width:100%;
    text-align: center;
    transition: all 0.5s;
}

.logoLink:hover {
    background:rgba(0,0,0,0.3);
}

.page {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    padding:20px;
    width:100%;
    text-align: center;
    transition: all 0.5s;
}

.page:hover {
    background:rgba(0,0,0,0.3);
}

/* flex container */
.logoContainer ul {
    border:1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* flex items */
.logoContainer li {

    border: 1px solid blue;
    text-align: center;
    display: flex;
    flex: 1 0 auto;
}

.pageLinks {
    border: 1px solid red;
    display: flex;
    /* align-self: flex-end; */
    width: 100%;
    /* align-items: center; */

}

.socialLinks {
    display: flex;
    /* align-items: center */
}
